{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="padding-top: 120px;">
    <div class="container">
        <h2 class="section-title">Contact Me</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="contact-info">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div>
                                    <h6>Office Address</h6>
                                    <p class="mb-0">Department of Physics<br>NIT Warangal<br>Warangal - 506004, Telangana</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div>
                                    <h6>Email</h6>
                                    <p class="mb-0">kanapuram.udaykumar@nitw.ac.in</p>
                                    <p class="mb-0">kanapuram.udaykumar@gmail.com</p>
                                    <p class="mb-0">udayphysics@zohomail.in</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div>
                                    <h6>Phone</h6>
                                    <p class="mb-0">+91-870-2462570</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <div>
                                    <h6>Academic Profiles</h6>
                                    <p class="mb-0"><a href="https://scholar.google.co.in/citations?hl=en&user=b5pLytUAAAAJ" target="_blank">Google Scholar</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
